compile_commands.json
uzanti-cevirmeni
.cache
uc.ui
main
debian/uzanti-cevirmeni/
debian/.debhelper/generated/pardus-lightdm-greeter/installed-by-dh_installdocs
debian/debhelper-build-stamp
debian/files
debian/pardus-power-manager.debhelper.log
debian/pardus-power-manager.substvars
debian/.debhelper/
*.mo
